<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Rural-Metro Codings</h1>

<p><strong>Your State:</strong></p>
<pre class="result-box">{{ usertext }}</pre>

<p><strong>Here's how many counties in each state have this rural-metro coding:</strong></p>
<pre class="result-box">{{ analysis }}</pre>

<div class="legend-box">
    <h3>Category Legen</h3>
    <ul>
        <li><strong>1</strong>: Large Central Metro - 1 million people + and contains largest principal city of metropolitan area or at least 250,000 residents of that area</li>
        <li><strong>2</strong>: Large Fringe Metro - 1 million people + </li>
        <li><strong>3</strong>: Medium Metro - 250,000 - 999,999 /li>
        <li><strong>4</strong>: Nonmetro - Urban population ≥ 20,000, adjacent to metro</li>
        <li><strong>5</strong>: Nonmetro - Urban population ≥ 20,000, not adjacent</li>
        <li><strong>6</strong>: Nonmetro - Urban population 2,500 to 19,999, adjacent</li>
        <li><strong>7</strong>: Nonmetro - Urban population 2,500 to 19,999, not adjacent</li>
        <li><strong>8</strong>: Nonmetro - Completely rural, adjacent</li>
        <li><strong>9</strong>: Nonmetro - Completely rural, not adjacent</li>
    </ul>
</div>

<br>
<a href="/" class="back-button">Go Back</a>

</body>
</html>
