<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Rural-Metro Codings</h1>

<h2>Rural-Metro Coding for {{usertext}}<h2></h2>

<ul class="result-box">
    {% for rucc, count in counts.county_category_counts.items() %}
        <li><strong>RUCC {{ rucc }}</strong>: {{ count }} counties</li>
    {% endfor %}
</ul>


<pre class="result-box">{{ analysis }}</pre>

<img src="{{url_for ('images', filename=state_image)}}"
alt="Map for {{usertext}}"
class="analyze-image">


<img src="{{url_for ('images', filename=legend)}}"
alt="Legend of RUCC Codes"
class="legend">

<br>
<a href="/index" class="back-button">Go Back</a>
<br>

<br>
<a href="/home">
    <button>Back to Home</button>
</a>
<br>

</body>
</html>
