<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

<h1>Comparing {{category}}</h1>

<h2>Comparing {{rucc1}} and {{rucc2}}<h2></h2>

<div id="comparison_plot" style="width: 100%; height: 500px;"></div>

<script>
    var data = {{ plot_data | tojson }};
    var layout = {{ plot_layout | tojson }};

    Plotly.newPlot('comparison_plot', data, layout);
</script>

<br>
<a href="/graphs" class="back-button">Go Back</a>
<br>

<br>
<a href="/home">
    <button>Back to Home</button>
</a>
<br>

</body>
</html>
