<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

<h1>Comparing {{category_readable}}</h1>

<h2> RUCC {{rucc1}} in {{region1}} and RUCC {{rucc2}} in {{region2}}</h2>

<div id="comparison_plot" style="width: 80%; height: 500px;"></div>

<script>
    var data = {{ plot_data | tojson }};
    var layout = {{ plot_layout | tojson }};

    Plotly.newPlot('comparison_plot', data, layout);
</script>
</p>

<h3>Two-Way ANOVA Results</h3>

<p>
    <strong>Main Effect of Year:</strong>
    <span style="color: {{ 'green' if p_year < 0.05 else 'red' }}">
        p = {{ "%.4f"|format(p_year) }}
        {% if p_year < 0.05 %}
            (Significant)
        {% else %}
            (Not Significant)
        {% endif %}
    </span>
</p>

<p>
    <strong>Main Effect of RUCC:</strong>
    <span style="color: {{ 'green' if p_rucc < 0.05 else 'red' }}">
        p = {{ "%.4f"|format(p_rucc) }}
        {% if p_rucc < 0.05 %}
            (Significant)
        {% else %}
            (Not Significant)
        {% endif %}
    </span>
</p>

<p>
    <strong>Interaction (Year × RUCC):</strong>
    <span style="color: {{ 'green' if p_interaction < 0.05 else 'red' }}">
        p = {{ "%.4f"|format(p_interaction) }}
        {% if p_interaction < 0.05 %}
            (Significant Difference in Change Over Time Between RUCCs)
        {% else %}
            (No Significant Difference in Change Over Time Between RUCCs)
        {% endif %}
    </span>
</p>


<br>
<a href="/compare" class="back-button">Go Back</a>
<br>

<br>
<a href="/home">
    <button>Back to Home</button>
</a>
<br>

</body>
</html>
