<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


<h1>What Would You Like to Compare?</h1>
<p class="subheader"><strong>Compare Distance to ER, Trauma Centers, or ICUs for RUCCs from 2013-2020</strong></p>


<form action="/graphs" method="POST">
    <div class="category-center">
        <label><strong>Select What You Want to Compare</strong></label>
        <select name="category" id="category">
            <option value="POS_MAX_DIST_ED"selected>Maximum Distance to ER</option>
            <option value="POS_MEAN_DIST_ED">Mean Distance to ER</option>
            <option value="POS_MEDIAN_DIST_ED">Median Distance to ER</option>
            <option value="POS_MAX_DIST_TRAUMA">Maximum Distance to Trauma Center</option>
            <option value="POS_MEAN_DIST_TRAUMA">Mean Distance to Trauma Center</option>
            <option value="POS_MEDIAN_DIST_TRAUMA">Median Distance to Trauma Center</option>
            <option value="POS_MAX_DIST_MEDSURG_ICU">Maximum Distance to ICU</option>
            <option value="POS_MEAN_DIST_MEDSURG_ICU">Mean Distance to ICU</option>
            <option value="POS_MEDIAN_DIST_MEDSURG_ICU">Median Distance to ICU</option>
        </select>
    </div>
    <br><br>

    <div class="two-column">
        <div>
            <label><strong>1st Region to Compare</strong></label>
            <select name="region1">
                <option value="South">South</option>
                <option value="Midwest">Midwest</option>
                <option value="Northeast">Northeast</option>
                <option value="West">West</option>
                <option value="All" selected>All</option>
            </select>
            <br><br>

            <label><strong>1st RUCC to Compare</strong></label>
            <select name="rucc1">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
        </div>

        <div>
            <label><strong>2nd Region to Compare</strong></label>
            <select name="region2">
                <option value="South">South</option>
                <option value="Midwest">Midwest</option>
                <option value="Northeast">Northeast</option>
                <option value="West">West</option>
                <option value="All" selected>All</option>
            </select>
            <br><br>

            <label><strong>2nd RUCC to Compare</strong></label>
            <select name="rucc2">
                <option value="1">1</option>
                <option value="2"selected>2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7"\>7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
        </div>

    </div>
    <br>

    
    <input type="submit" value="Analyze">
</form>

</body>
</html>


<div style="text-align: center; margin-top: 20px;">
    <a href="/home">
        <button>Back to Home</button>
    </a>
</div>


<p class=note> South: Alabama, Arkansas, Delaware, Florida, Georgia, Kentucky,
 Louisiana, Maryland, Mississippi, North Carolina, Oklahoma, 
 South Carolina,  Tennessee, Texas, Virginia, West Virginia</p>


<p class=note>West: Alaska, Arizona, California, Colorado, Hawaii, Idaho, Montana, 
 Nevada, New Mexico, Oregon, Utah, Washington, Wyoming</p>
 
<p class=note>Northeast: Connecticut, Maine, Massachusetts, New Hampshire, New Jersey, 
  New York, Pennsylvania, Rhode Island, Vermont</p>


<p class=note>Midwest: Illinois, Indiana, Iowa, Kansas, Michigan, Minnesota, Missouri,
 Nebraska, North Dakota, Ohio, South Dakota, Wisconsin </p>


</body>
</html>