<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Welcome to Rural Healthcare Analysis</h1>
<p>Explore distance needed to travel to reach healthcare based on the 2013 Rural-Urban Continuum Codes (RUCC):</p>
<p class="note">*Only data from the 50  US state is available for analysis</p>

<img src="{{ url_for('images', filename='us_map_counties.png') }}"
     alt="Distribution of Rural and Metro Counties Image"
     class="home-image">



<div style="text-align: center; margin-top: 20px;">
    <a href="/index">
        <button>Breakdown of RUCC by State</button>
    </a>
</div>

<div style="text-align: center; margin-top: 20px;">
    <a href="/compare">
        <button>Distance to Healthcare by RUCC</button>
    </a>
</div>

<div style="text-align: center; margin-top: 20px;">
    <a href="/clustering">
        <button>Clustering</button>
    </a>
</div>

<div style="text-align: center; margin-top: 20px;">
    <a href="/dataset">
        <button>About the Dataset</button>
    </a>
</div>



</body>
</html>
