<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Welcome to Rural Healthcare Analysis</h1>
<p>Explore state rural-metro codes by going to the analyzer:</p>

<img src="{{ url_for('images', filename='us_map_counties.png') }}"
     alt="Distribution of Rural and Metro Counties Image"
     style="width: 600px; border-radius: 10px; margin-bottom: 20px;">

<a href="{{ url_for('index') }}">
    <button>Go to Analyzer</button>
</a>

</body>
</html>
