<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Welcome to Rural Healthcare Analysis</h1>
<p>Explore state rural-metro codes by going to the analyzer:</p>

<img src="{{ url_for('images', filename='us_map_counties.png') }}"
     alt="Distribution of Rural and Metro Counties Image"
     class="home-image">



<div style="text-align: center; margin-top: 20px;">
    <a href="/index">
        <button>Go to Analyzer</button>
    </a>
</div>

<div style="text-align: center; margin-top: 20px;">
    <a href="/dataset">
        <button>About the Dataset</button>
    </a>
</div>

<div style="text-align: center; margin-top: 20px;">
    <a href="/graphs">
        <button>Deeper Analysis</button>
    </a>
</div>

<div style="text-align: center; margin-top: 20px;">
    <a href="/clustering">
        <button>Clustering</button>
    </a>
</div>




<p>*Only data from the 50 contiguous US state is available for analysis</p>
</body>
</html>
